@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --primary-font: "Philosopher", sans-serif;
  --heading-font: Archivo Black;
  --white: #ffffff;
  --accent-green: #9ac753;
  --accent-highlight-green: #8fcc3f;
  --active-accent-green: #e7e7e7;
}

* {
  padding: 0;
  margin: 0;
}

.italiana-regular {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.philosopher-regular {
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.philosopher-bold {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.philosopher-regular-italic {
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.philosopher-bold-italic {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: italic;
}

body {
  background: #14151b;
  background-attachment: fixed;
  background-image:
    linear-gradient(
      to bottom right,
      rgb(0, 0, 0) 0%,
      rgba(255, 255, 255, 0) 70%,
      rgb(0, 0, 0) 100%
    ),
    url("https://i.pinimg.com/originals/d5/84/0b/d5840b194bc468e606984aa99f6558c8.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 16px;
  color: var(--white);
  font-family: var(--primary-font);
}

.cursorcircle {
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: transform 0.3s ease-out;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px; /* Thickness of the bar */
  background: rgba(255, 255, 255, 0.1);
  z-index: 9999;
}

#loading-bar {
  width: 0%;
  height: 100%;
  background: #8fcc3f; /* Your brand color */
  box-shadow: 0 0 10px #8fcc3f;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  grid-area: container;
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-areas: "content rightbar";
  padding-bottom: 10px;
}

.content {
  grid-area: content;
}

.rightbar {
  grid-area: rightbar;
  margin: 0 10px;
}

h1 {
  font-family: "Italiana", sans-serif;
  font-size: 60px;
  font-weight: 1000;
  color: #8fcc3f;
  box-shadow: 10px 10px 10px #0000;
}

h2 {
  padding: 10px 0px;
}

img {
  width: 100%;
}

ul {
  margin: 0;
}

a {
  font-size: 18px;
  color: var(--accent-green);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--accent-highlight-green);
}

a.active {
  color: var(--active-accent-green);
}

a.disabled {
  color: #645b5b;
}

button {
  opacity: 0.8;
  background: none;
  font-family: var(--primary-font);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  border: 1.5px solid var(--white);
  padding: 10px 15px;
  margin: 8px;
  box-shadow: 0 0 5px var(--white);
}

button:hover {
  color: #064b15;
  background: var(--accent-highlight-green);
  cursor: pointer;
  border: 1.5px solid var(--white);
}

button.active {
  background: var(--active-accent-green);
  border: 1.5px solid var(--white);
  color: #064b15;
  box-shadow: 0 0 30px var(--accent-green);
}

label {
  color: #838282;
}

input[type="text"] {
  background: var(--accent-green);
  color: #080808;
  border: 1.5px solid #0f4202;
  padding: 10px;
}

input[type="text"]::placeholder {
  font-family: var(--primary-font);
  color: #0f4202;
}

input[type="text"]:focus {
  border: 1px solid #00ff2a;
  outline: 0;
}

select {
  background: var(--accent-green);
  color: #0f4202;
  font-family: var(--primary-font);
  border: none;
  border: 1.5px solid #0f4202;
  padding: 10px;
}

select:focus {
  border: 1px solid #00ff2a;
  outline: 0;
}

option {
  color: #0f4202;
  padding: 8px;
}

option:hover {
  background: var(--accent-highlight-green);
}

.widget {
  background-color: rgb(8, 8, 8, 0.5);
  padding: 10px;
  margin-top: 8px;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(10px);
}

.rightbar ul {
  list-style: none;
}

.rightbar ul li {
  padding: 10px 0;
}

.profilebox {
  display: flex;
  background-image:
    linear-gradient(
      to bottom right,
      rgb(0, 0, 0) 0%,
      rgba(255, 255, 255, 0) 100%,
      rgb(0, 0, 0) 100%
    ),
    url("https://images.steamusercontent.com/ugc/779613284201539586/2FCC34097D8937F1CFE5C325D304E2684E051232/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false");
  background-size: cover;
  background-position: center;
  transition: 0.6s;
}

.profilebox img {
  border: 10px dashed #8fcc3f8e;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  gap: 20px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  background: #030e06;
  padding: 10px;
  width: auto;
  transition: 0.2s;
  z-index: 1;
}

.card:hover {
  transform: scale(1.05);
  z-index: 10;
  border-color: var(--white);
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.card h2 {
  padding-top: 8px;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 400px;
  margin: auto;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.carouseltrack {
  display: flex;
  transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  height: 100%;
}

.slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Italiana", sans-serif;
  font-weight: 800;
}

.ctrlbtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--glass);
  backdrop-filter: blur(10px);
  border: 3px solid #ffffff96;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.3s ease;
  z-index: 10;
  box-shadow: none;
}

.ctrlbtn:hover {
  background: white;
  color: #333;
}

.ctrlbtn.prev {
  left: 20px;
}

.ctrlbtn.next {
  right: 20px;
}

.mobile {
  display: none;
}

@media screen and (max-width: 650px) {
  .container {
    display: block;
  }
  .cursorcircle {
    display: none;
  }
  /* .mobile {
    display: block;
  } */
}
